


:root{
    --c1 : #090927;
    --c2: #111030;
    --c2Lighter:#141339;
    --sideBarTitleColor: #636288;
    --sideBarLightColor:#8787ac;
    --hoverColor:#ff516d;
    --authorNameColor:#5e5e88;
    --white:#fff1f3;

    --submitColor: #66BB00;
    
    --sideBarSize: 300px;
}

*{
    transition: background .5s;
}

*:not(a){
    color:var(--white);
    font-weight:20;
}

*::placeholder{
    color:gray;
}

*::-webkit-scrollbar{
    width:2px;
}


html{
    scroll-behavior:smooth;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

input, label, button{
    display:block;
}

button, a, *[onclick]{
    cursor: pointer !important;
}


#wrapper{
    position:fixed;
    top:0px;
    left:0px;

    width:100vw;
    height:100vh;

    display:flex;

    overflow:hidden;
    overflow-y:auto;

    background:var(--c1);

}

.pageWrapper, .sideBar{
    position:fixed;
    top:0px;
    height:100vh;
}


.pageWrapper{
    left:var(--sideBarSize);
    width:calc( 100vw - var(--sideBarSize) );

    overflow:hidden;
    overflow-y:auto;

    display:block;

    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.pageContentsWrapper{
    position:relative;
    left:0px;

    width:inherit;
    height:auto;
    min-height: calc( 100vh - 60px );

    display:block;
    margin:0px;
    margin-top:60px;
    margin-bottom:100px;
}

.pageTitle{
    font-size:5em;
    text-align:center;
    margin-top:-40px;
    margin-bottom:10px;
}

.pageBackgroundImageDiv{
    position:fixed;
    top:0px;
    left:var(--sideBarSize);

    width:calc( 100vw - var(--sideBarSize) );
    height:100vh;

    opacity:0.08;
    z-index:-1;

    background-position:center center !important;
    background-size:cover !important;
    background-repeat:no-repeat !important;
}



/* STYLES THAT AFFECT THE TOP BAR*/
.topBar{
    position:fixed;
    top:0px;
    left:var(--sideBarSize);

    width: calc( 100vw - var(--sideBarSize));
    height:60px;

    z-index:4000;

    display:flex;
    align-items:center;

    background:none;
}

.topBar::before{
    position:absolute;
    content:"";

    width:100%;
    height:100%;

    filter:blur(20px);

    background:var(--c1);
}

.topBar *{
    text-decoration:none;
}

.topBarSiteName{
    position:relative;
    left:20px;

    float:right;

    width:auto; 
    height:30px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:2em;

    background:none;

}

.topBarSiteName h3{
    max-height:inherit;
}

.topBarUserProfile{
    position:relative;
    left:calc( 100% - ( var(--sideBarSize) + 110px) );
    
    width:auto;
    height:50px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:none;
}

.topBarUserProfile:hover a h3{
    color:var(--hoverColor) !important;
}

.topBarUserProfile *{
    display:flex;
    margin:auto;
}

.topBarUserProfilePfp{

    margin-right:10px;

    border:1px solid var(--c2);
    border-radius:50px;

    background:var(--c2);
    background-repeat:no-repeat !important; 
    background-size:cover !important; 
    background-position:center center !important;
}



/* STYLES THAT AFFECT THE SIDE BAR*/
.sideBar{
    left:0px;

    z-index:4000;

    width:var(--sideBarSize);

    background: radial-gradient(circle at bottom, var(--c2Lighter), var(--c2), var(--c1));
}

.sideBarAppName{
    position:relative;

    font-size:3em;
    text-align:center;

    display:block;
    margin-top:50px;

    background:none;
}

.sideBarSection{
    position:relative;

    width:300px;
    height:auto;
    min-height:200px;

    margin:0px auto;

    text-indent:40px;

    background:none;
}

.sideBarSection * :not(.sideBarNavigationSectionLink){
    margin:10px;
}

.sideBarSectionTitle{
    position:relative;
    top:0px;

    font-size:25px;
    color:var(--sideBarTitleColor);
    text-indent:30px;
}

.sideBarNavigationSectionLink{

    color:var(--sideBarLightColor);
    font-size:20px;
    text-decoration:none;


    display:flex;
}

.sideBarNavigationSectionLink::after {
    position:absolute;
    transform: translate(0px, 15px);
    right:70px;

    content:"";

    width:10px;
    height:10px;


    border-radius:50px;
    display:none;

    background:var(--hoverColor);
}

.sideBarNavigationSectionLink:hover{
    color:var(--hoverColor);
}

.sideBarNavigationSectionLink:hover::after{
        display:block;
}

.sideBarNavigationSectionLink i{
    --iconSize: 20px;

    position:relative;

    color:var(--hoverColor);
    font-size:var(--iconSize);

    margin-right:-30px !important;

    
    display:flex;
    justify-content:center;
    align-items:center;

}

.sideBarPlaylistLink{
    position:relative;
    top:5px;

    text-decoration:none;

    margin:10px !important;
}


.sideBarPlaylistLink h5{
    color:var(--sideBarLightColor);
    
    margin:0px !important;
}

.sideBarPlaylistLink:hover h5 {
    color:var(--hoverColor);
}

.fa-plus::before{
    position:relative;
    left:-150%;

}


/* Now playing element css*/
soundify-now-playing-controls{
    position:fixed;
    left: 0px;
    bottom:0px;


    width:100vw;
    height:100px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;

    z-index:9000;
    z-index:10000000;

    background:var(--hoverColor);;
}

.nowPlayingAudioElement::-webkit-media-controls-enclosure{
    background:none;
}

.soundifyNowPlayingImage{
    position:relative;

    width:90px;
    height:90px;

    border:2px solid var(--sideBarLightColor);
    border-radius:50px;

    margin-left:20px;

    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position:center center !important;
}

soundify-now-playing-controls.playing .soundifyNowPlayingImage{
    animation:2s .01s infinite spin;
}

.soundifyNowPlayingSongInfo{
    display:flex;
    flex-direction:column;

    justify-content:center;
}

.soundifyNowPlayingSongInfo *{
    margin:2px;
}

.soundifyNowPlayingSongInfo h3{
    font-weight:bold;
}

.nowPlayingAudioElement{
    width:600px !important;
}

.nowPlayingPlayMode{
    display:flex;
}

.nowPlayingPlayModeIcon{
    position:relative;
    top:0px;
    left:0px;

    width:50px;
    height:50px;

    font-size:1.5em;
    color:red;

    display:flex;
    justify-content:center;
    align-items:center;

    background-repeat:no-repeat !important;
    background-size:25px 25px !important;
    background-position:center center !important;
    background:none;
}

.nowPlayingPlayModeIcon:hover{
    border:1px solid rgb(118, 118, 118);
    border-radius:20px;
}

.nowPlayingPlayModeIcon i{
    color:initial;
}


/* Styles for the music preview sections found at bottom of some pages*/
.pageMusicSection{
    position:relative;
    top:50px;
    left:0px;

    display:grid !important;
    grid-template-columns:repeat(2, 49% );
    grid-column-gap:2%;

    width:90%;
    min-width:400px;
    height:auto;
    min-height:300px;

    margin:0px auto;
    padding-bottom:100px;

    background:none;
}

.pageMusicSection .previewSection{
    position:relative;
    top:0px;
    left:0px;

    width:auto;
    height:auto;
    min-height:inherit;
    max-height:fit-content;

    border-radius:20px;

    background:var(--c2Lighter);

}

.pageMusicSectionTitles{
    position:relative;

    text-align:start;
    text-indent:20px;
}

.songPreviewObject{
    position:relative;

    width: 370px;
    height:70px;

    display:flex;
    gap:20px;
    align-items:center;

    border-radius:10px;
    margin:0px auto;
    margin-bottom:8px;
    padding:0px 10px;

    box-shadow:2px 4px 10px var(--c1);

    background:var(--c2) !important;
}

.songPreviewObject:hover{
    box-shadow:inset 1px -2px 1px var(--hoverColor), 2px 4px 10px var(--c1);
}

.songPreviewObjectImage{
    position:relative;
    width:50px;
    height:50px;

    border-radius:10px;

    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position:center center !important;
}

.songPreviewInfo{
    position:relative;
    top:0px;
    left:0px;

    width:auto;
    min-width:100px;
    height:50px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:start;

    background:none;
}

.songPreviewInfo *{
    margin:0px;
}

.songPreviewActions{
    display:flex;

}

.songPreviewActions div{
    margin-left:20px;
}

/* CSS for the playlist section of the music preview section*/
#playlistPreviewSection .gridContainer{
    position:relative;

    display:grid;
    grid-template-columns:repeat(2, 190px);
    grid-gap:10px;
    justify-content:center;

    padding-bottom:10px;
}

.playlistPreviewObject{
    position:relative;

    width:190px;
    height:150px;

    display:block;

    border-radius:20px;

    box-shadow:2px 4px 10px var(--c1);

    background:red;
}

.playlistPreviewObject:hover{
    border:1px solid var(--hoverColor);
}

.playlistPreviewObject:before{
    content:"";
    position:absolute;
    top:0px;
    left:0px;

    width:100%;
    height:100%;

    border-radius:20px;

    background:var( --playlistBackgroundImage );
    background-size:cover !important;
    background-position:center center !important;
    background-repeat:no-repeat !important;
}

.playlistPreviewObject:after{
    content: attr(data-playlistName) ;
    position:absolute;
    bottom:0px;
    left:0px;

    width:100%;
    height:fit-content;
    min-height:40px;
    max-height:100%;

    color:white;
    font-size:1rem;
    text-align:center;

    display:flex;
    justify-content: center;
    align-items:center;

    border-radius:15px 15px 19px 19px;

    filter:opacity(0.9);

    background:#111030;
}

.playlistPreviewObject:hover:after{

    background:var(--hoverColor);
}



/* CSS for the wrapper that makes it possible to add songs to playlists*/
.addToPlaylistWrapper{
    position:fixed;
    top:49%;
    left: calc( var(--sideBarSize) + 50px ) ;
    transform: translateY(-51%);

    width: calc( 100% - ( var(--sideBarSize) + 100px ) );
    height:400px;

    z-index:400000000;

    overflow:hidden;
    overflow-y:auto;
    
    border-radius:20px;
    box-shadow:-4px -3px 4px 400px rgba(200, 100, 100, 0.1);

    padding-top:20px;

    background:var(--c2);
}

.addToPlaylistWrapper:hover, .addToPlaylistPreview:hover, .addToPlaylistPreview:focus{
    border:1px solid var(--hoverColor);
}

.addToPlaylistWrapper:before{
    position:absolute;
    content:"";
    top:-50%;
    left: calc(  ( var(--sideBarSize) + 50px ) * ( 0 - 1) ) ;

    width:100vw;
    height:100vh;

    z-index:-1;

    filter:blur(2px);
    opacity:0.5;

    background:var(--c2);
}

.addToPlaylistsWrapperCloseButton{
    position:relative;
    margin-right:50px;
    margin-top:30px;
    float:right;

    width:20px;
    height:20px;

    border-radius:3px;

    color:red;

    display:flex;
    justify-content:center;
    align-items:center;

    background:var(--c2Lighter);
}

.addToPlaylistsWrapperTitle{
    text-align:center;
    font-size:20px;
}

.addToPlaylistsWrapperTitle span{
    color:var(--hoverColor);
}

.addToPlaylistsGridContainer{
    position:relative;
    
    width:calc( 100% - 50px );
    height:auto;
    min-height:200px;

    display:grid;
    grid-template-columns:repeat(4, 150px);
    grid-gap:2px;
    justify-content:center;
    align-content:center;

    margin:0px auto;
    padding:20px 0px;

    border-radius:20px;

    background:var(--c2Lighter);
}

.addToPlaylistsGridContainer .addToPlaylistPreview{
    position:relative;
    width:150px;
    height:150px;

    border-radius:10px;

    background:red;
}

.addToPlaylistPreviewImage{
    position:relative;
    top:0px;
    left:0px;

    width:100%;
    height:100%;

    margin-bottom:-100%;

    border-radius:inherit;

    background-position:center !important;
    background-size:cover !important;
    background-repeat:no-repeat !important;
}

.addToPlaylistPreviewImage:before{
    position:absolute;
    content:"";
    top:0px;
    left:0px;

    width:100%;
    height: 100%;

    opacity:0.2;

    background:var(--c2);
}


.addToPlaylistPreviewName{
    position:relative;
    top:25%;
    
    text-shadow:1px 2px var(--c2);
    font-size:.9;
    text-align:center;
}




/* Animations */
@keyframes spin{
    0%{
        transform:rotate(100deg);
    }
    50%{
        transform:rotate(230deg);
    }
    100%{
        transform:rotate(460deg);
    }
}